@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./NotoSerifKR-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./NotoSerifKR-Bold.ttf') format('truetype');
}
